body{
    background-color: black;
    color: white;
    /* display: flex;  */
    text-align: center;

}

p{
    background-color: purple;
    text-align: center;
}

.first{
    background-color: green;
    color: white;
    /* display: inline-block;  */
    /* display: flex;
    justify-content: center;  */
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    margin-bottom: 50px;
}

.second{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
}